@font-face {
    font-family: Cousine-Regular;
    src: url("../fonts/Cousine-Regular.ttf");
}

body {
    color: white;
    font-family: 'Cousine-Regular', monospace;
    background-color: black;
}

.Center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.VStack {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}