/* Hide most visible items */
[class*="guilds"],
[class*="chat"],
[aria-label="Channel header"],
[class*="sidebar"],
[class*="privateChannels"],
[class*="container"],
[class*="scroller"],
[class*="nowPlayingColumn"] {
  background: none !important;
}

[class^="bg_"] {
  background-image: var(--bg-image-url);
  background-position: var(--bg-image-pos);
  background-repeat: var(--bg-image-rep);
  background-size: var(--bg-image-size);
  opacity: var(--bg-opacity);
}
